/.parcel-cache/
/andro/
/androi/
/android/
/dist/
/node_modules/
/ready/
/data.txt
/capacitor.config.json
/package-lock.json
/proxy.py
/requirements.txt
.idea
/src/common.css
/src/imports.css
/src/styles.css
/src/styles.css.map
/backend/gtfs_cache.pkl
